<a id="back-button" (click)="gotoHeroes()"></a>
<section>
 <div class="movie-content">
   <div class="movie-img"><img src="../../app/content/assets/images/movie-covers/{{movie.img}}"></div>
   <div class="movie-description">
     <div class="movie-header">
       <h3>{{ movie.name }}</h3>
       <span class="rating">☆</span>
       <h2 class="rating-number">{{ movie.rate }}</h2>
     </div>
     <div><label>Length:</label> {{movie.length}}</div>
     <div><label>Genres:</label> {{movie.genres}}</div>
     <div><label>Description:</label> {{ movie.description }}</div>
   </div>
 </div>
</section>
